
Andrew Ng-Machine Learning/Week1/Cost Function/Cost Function-Intuition I.JPG
Andrew Ng-Machine Learning/Week1/Cost Function/Cost Function-Intuition II.JPG
Andrew Ng-Machine Learning/Week1/Cost Function/Cost Function-Intuition II1.JPG
Andrew Ng-Machine Learning/Week1/Cost Function/Cost Function.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent 1.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent 2.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent for linear regression 2.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent for linear regression.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent Intuition 1.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent Intuition 2.JPG
Andrew Ng-Machine Learning/Week1/Gradient Descent/Gradient Descent Intuition 3.JPG
Andrew Ng-Machine Learning/Week1/Linear Algebra Review/Inverse.JPG
Andrew Ng-Machine Learning/Week1/Linear Algebra Review/Matrix Matrix Multiplication.JPG
Andrew Ng-Machine Learning/Week1/Linear Algebra Review/Matrix Multiplication Properties.JPG
Andrew Ng-Machine Learning/Week1/Linear Algebra Review/Matrix Vector Multiplication.JPG
Andrew Ng-Machine Learning/Week1/Linear Algebra Review/Transpose.JPG
Andrew Ng-Machine Learning/Week1/ML_Week1_Lecture2.pdf
Andrew Ng-Machine Learning/Week1/ML_Week_Lecture1.pdf
Andrew Ng-Machine Learning/Week1/Model Representation.JPG
Andrew Ng-Machine Learning/Week1/Supervised ML_Classification vs Regression.docx
Andrew Ng-Machine Learning/Week2/Multivariate Linear Regression/Features and ploynomial Regression.JPG
Andrew Ng-Machine Learning/Week2/Multivariate Linear Regression/Gradient Descent for Multiple Variables.JPG
Andrew Ng-Machine Learning/Week2/Multivariate Linear Regression/Gradient Descent in Practice II(1).JPG
Andrew Ng-Machine Learning/Week2/Multivariate Linear Regression/Gradient Descent in Practice II.JPG
Andrew Ng-Machine Learning/Week2/Multivariate Linear Regression/Gradient Descent in Practice.JPG
IBM-Data Science/Applied Data Science Caspstone/Assignment1_Capstone Project.ipynb
IBM-Data Science/Applied Data Science Caspstone/README.md
IBM-Data Science/Applied Data Science Caspstone/week3_Assignment_Q1.ipynb
IBM-Data Science/Applied Data Science Caspstone/week3_Assignment_Q2.ipynb
IBM-Data Science/Applied Data Science Caspstone/week3_Assignment_Q3.ipynb
IBM-Data Science/Data Analysis with Python/clean_df.csv
IBM-Data Science/Data Analysis with Python/Data Analysis with Python - Week 1 - Introduction.ipynb
IBM-Data Science/Data Analysis with Python/Data Analysis with Python - Week 2 - Data Wrangling.ipynb
IBM-Data Science/Data Analysis with Python/Data Analysis with Python - Week 3 - Exploratory Data Analysis.ipynb
IBM-Data Science/Data Analysis with Python/Data Analysis with Python - Week 4 - Model Development.ipynb
IBM-Data Science/Data Analysis with Python/Data Analysis with Python - Week 5 - Model Evaluation and Refinement.ipynb
IBM-Data Science/Data Analysis with Python/data-wrangling.ipynb
IBM-Data Science/Data Analysis with Python/exploratory-data-analysis.ipynb
IBM-Data Science/Data Analysis with Python/model-development.ipynb
IBM-Data Science/Data Analysis with Python/model-evaluation-and-refinement.ipynb
IBM-Data Science/Data Analysis with Python/Q1.JPG
IBM-Data Science/Data Analysis with Python/Q2.JPG
IBM-Data Science/Data Analysis with Python/Q3.JPG
IBM-Data Science/Data Analysis with Python/Q4-1.JPG
IBM-Data Science/Data Analysis with Python/Q4-2.JPG
IBM-Data Science/Data Analysis with Python/Q4-3.JPG
IBM-Data Science/Data Analysis with Python/Q4-4.JPG
IBM-Data Science/Data Analysis with Python/Q4-5.JPG
IBM-Data Science/Data Analysis with Python/Q4-6.JPG
IBM-Data Science/Data Analysis with Python/Q4.JPG
IBM-Data Science/Data Analysis with Python/Q5.JPG
IBM-Data Science/Data Analysis with Python/README.md
IBM-Data Science/Data Analysis with Python/review-introduction.ipynb
IBM-Data Science/Data Science Methodology/Data science metholody.pdf
IBM-Data Science/Data Science Methodology/Final Assignment.pdf
IBM-Data Science/Data Science Methodology/Predictive Modelling For Credit Card Fraud Detection Using Data Analytics.pdf
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Assignment.ipynb
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Week 1 - Introduction to Matplotlib and Line Plots.ipynb
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Week 2 - Area Plots, Histograms, and Bar Plots.ipynb
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Week 2 - Pie-Charts, Box Plots, Scatter Plots and Bubble Plots.ipynb
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Week 3 - Generating Maps in Python.ipynb
IBM-Data Science/Data Visulazation with Python/Data Visualization with Python - Week 3 - Waffle Charts, Word Clouds and Regression Plots.ipynb
IBM-Data Science/Data Visulazation with Python/README.md
IBM-Data Science/Databases and SQL for Data Science/Databases and SQL for Data Science - Assignment.ipynb
IBM-Data Science/Databases and SQL for Data Science/Databases and SQL for Data Science - Lab - Working with a real world data-set using SQL and Python.ipynb
IBM-Data Science/Databases and SQL for Data Science/SQL Week 1 - Hands on.sql
IBM-Data Science/Databases and SQL for Data Science/SQL Week 4 - Databases and SQL for Data Science - Assignment.ipynb
IBM-Data Science/Databases and SQL for Data Science/SQL Week 4 - Working with a real world data-set using SQL and Python.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week3-1-1-Connecting-v4-py.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week3-1-2-Querying-v4-py.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week3-1-3-SQLmagic-v3-py.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week3-1-4-Analyzing-v5-py.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week4-2-2-PeerAssign-v5-py.ipynb
IBM-Data Science/Databases and SQL for Data Science/Week4-RealDataPractice-py.ipynb
IBM-Data Science/Machine Learning With Python/ML0101EN-Proj-Loan-answer-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/ML0101EN-Proj-Loan-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/README.md
IBM-Data Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Classfication_defination.JPG
IBM-Data Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Clustering_defination.JPG
IBM-Data Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Supervised vs unsupervised learning.JPG
IBM-Data Science/Machine Learning With Python/Week2_Regression/Mulitple-Linear-Regression.ipynb
IBM-Data Science/Machine Learning With Python/Week2_Regression/NoneLinearRegression.ipynb
IBM-Data Science/Machine Learning With Python/Week2_Regression/Polynomial-Regression.ipynb
IBM-Data Science/Machine Learning With Python/Week2_Regression/Simple-Linear-Regression.ipynb
IBM-Data Science/Machine Learning With Python/Week2_Regression/Type of regression models.JPG
IBM-Data Science/Machine Learning With Python/Week2_Regression/Whati is regression.JPG
IBM-Data Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-Decision-Trees-drug-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-K-Nearest-neighbors-CustCat-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-Logistic-Reg-churn-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-SVM-cancer-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week3.Classfication/The K-Nearest Neighbors Algorithm.JPG
IBM-Data Science/Machine Learning With Python/Week3.Classfication/What is regression.JPG
IBM-Data Science/Machine Learning With Python/Week3.Classfication/What is SVM.JPG
IBM-Data Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-DBSCN-weather-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-Hierarchical-Cars-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-K-Means-Customer-Seg-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week5.Recommender Systems/1
IBM-Data Science/Machine Learning With Python/Week5.Recommender Systems/ML0101EN-RecSys-Collaborative-Filtering-movies-py-v1.ipynb
IBM-Data Science/Machine Learning With Python/Week5.Recommender Systems/ML0101EN-RecSys-Content-Based-movies-py-v1.ipynb
IBM-Data Science/Python for Data Science and AI/2-1-Tuples.ipynb
IBM-Data Science/Python for Data Science and AI/2-2-Lists.ipynb
IBM-Data Science/Python for Data Science and AI/2-3-Dictionaries.ipynb
IBM-Data Science/Python for Data Science and AI/2-4-Sets.ipynb
IBM-Data Science/Python for Data Science and AI/3-1-Conditions.ipynb
IBM-Data Science/Python for Data Science and AI/3-2-Loops.ipynb
IBM-Data Science/Python for Data Science and AI/3-3-Functions.ipynb
IBM-Data Science/Python for Data Science and AI/3-4-Classes.ipynb
IBM-Data Science/Python for Data Science and AI/4-1-ReadFile.ipynb
IBM-Data Science/Python for Data Science and AI/4-2-WriteFile.ipynb
IBM-Data Science/Python for Data Science and AI/5-1-Numpy1D.ipynb
IBM-Data Science/Python for Data Science and AI/5-2-Numpy2D.ipynb
IBM-Data Science/Python for Data Science and AI/README.md
IBM-Data-Science/Applied Data Science Caspstone/Assignment1_Capstone Project.ipynb
IBM-Data-Science/Applied Data Science Caspstone/README.md
IBM-Data-Science/Applied Data Science Caspstone/week3_Assignment_Q1.ipynb
IBM-Data-Science/Applied Data Science Caspstone/week3_Assignment_Q2.ipynb
IBM-Data-Science/Applied Data Science Caspstone/week3_Assignment_Q3.ipynb
IBM-Data-Science/Data Analysis with Python/clean_df.csv
IBM-Data-Science/Data Analysis with Python/Data Analysis with Python - Week 1 - Introduction.ipynb
IBM-Data-Science/Data Analysis with Python/Data Analysis with Python - Week 2 - Data Wrangling.ipynb
IBM-Data-Science/Data Analysis with Python/Data Analysis with Python - Week 3 - Exploratory Data Analysis.ipynb
IBM-Data-Science/Data Analysis with Python/Data Analysis with Python - Week 4 - Model Development.ipynb
IBM-Data-Science/Data Analysis with Python/Data Analysis with Python - Week 5 - Model Evaluation and Refinement.ipynb
IBM-Data-Science/Data Analysis with Python/data-wrangling.ipynb
IBM-Data-Science/Data Analysis with Python/exploratory-data-analysis.ipynb
IBM-Data-Science/Data Analysis with Python/model-development.ipynb
IBM-Data-Science/Data Analysis with Python/model-evaluation-and-refinement.ipynb
IBM-Data-Science/Data Analysis with Python/Q1.JPG
IBM-Data-Science/Data Analysis with Python/Q2.JPG
IBM-Data-Science/Data Analysis with Python/Q3.JPG
IBM-Data-Science/Data Analysis with Python/Q4-1.JPG
IBM-Data-Science/Data Analysis with Python/Q4-2.JPG
IBM-Data-Science/Data Analysis with Python/Q4-3.JPG
IBM-Data-Science/Data Analysis with Python/Q4-4.JPG
IBM-Data-Science/Data Analysis with Python/Q4-5.JPG
IBM-Data-Science/Data Analysis with Python/Q4-6.JPG
IBM-Data-Science/Data Analysis with Python/Q4.JPG
IBM-Data-Science/Data Analysis with Python/Q5.JPG
IBM-Data-Science/Data Analysis with Python/README.md
IBM-Data-Science/Data Analysis with Python/review-introduction.ipynb
IBM-Data-Science/Data Science Methodology/Data science metholody.pdf
IBM-Data-Science/Data Science Methodology/Final Assignment.pdf
IBM-Data-Science/Data Science Methodology/Predictive Modelling For Credit Card Fraud Detection Using Data Analytics.pdf
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Assignment.ipynb
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Week 1 - Introduction to Matplotlib and Line Plots.ipynb
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Week 2 - Area Plots, Histograms, and Bar Plots.ipynb
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Week 2 - Pie-Charts, Box Plots, Scatter Plots and Bubble Plots.ipynb
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Week 3 - Generating Maps in Python.ipynb
IBM-Data-Science/Data Visulazation with Python/Data Visualization with Python - Week 3 - Waffle Charts, Word Clouds and Regression Plots.ipynb
IBM-Data-Science/Data Visulazation with Python/README.md
IBM-Data-Science/IBM - Databases and SQL for Data Science/Databases and SQL for Data Science - Assignment.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Databases and SQL for Data Science - Lab - Working with a real world data-set using SQL and Python.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/SQL Week 1 - Hands on.sql
IBM-Data-Science/IBM - Databases and SQL for Data Science/SQL Week 4 - Databases and SQL for Data Science - Assignment.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/SQL Week 4 - Working with a real world data-set using SQL and Python.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week3-1-1-Connecting-v4-py.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week3-1-2-Querying-v4-py.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week3-1-3-SQLmagic-v3-py.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week3-1-4-Analyzing-v5-py.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week4-2-2-PeerAssign-v5-py.ipynb
IBM-Data-Science/IBM - Databases and SQL for Data Science/Week4-RealDataPractice-py.ipynb
IBM-Data-Science/Machine Learning With Python/ML0101EN-Proj-Loan-answer-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/ML0101EN-Proj-Loan-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/README.md
IBM-Data-Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Classfication_defination.JPG
IBM-Data-Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Clustering_defination.JPG
IBM-Data-Science/Machine Learning With Python/Week1_Introduction to Machine Learning/Supervised vs unsupervised learning.JPG
IBM-Data-Science/Machine Learning With Python/Week2_Regression/Mulitple-Linear-Regression.ipynb
IBM-Data-Science/Machine Learning With Python/Week2_Regression/NoneLinearRegression.ipynb
IBM-Data-Science/Machine Learning With Python/Week2_Regression/Polynomial-Regression.ipynb
IBM-Data-Science/Machine Learning With Python/Week2_Regression/Simple-Linear-Regression.ipynb
IBM-Data-Science/Machine Learning With Python/Week2_Regression/Type of regression models.JPG
IBM-Data-Science/Machine Learning With Python/Week2_Regression/Whati is regression.JPG
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-Decision-Trees-drug-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-K-Nearest-neighbors-CustCat-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-Logistic-Reg-churn-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/ML0101EN-Clas-SVM-cancer-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/The K-Nearest Neighbors Algorithm.JPG
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/What is regression.JPG
IBM-Data-Science/Machine Learning With Python/Week3.Classfication/What is SVM.JPG
IBM-Data-Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-DBSCN-weather-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-Hierarchical-Cars-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week4.Clustering/ML0101EN-Clus-K-Means-Customer-Seg-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week5.Recommender Systems/1
IBM-Data-Science/Machine Learning With Python/Week5.Recommender Systems/ML0101EN-RecSys-Collaborative-Filtering-movies-py-v1.ipynb
IBM-Data-Science/Machine Learning With Python/Week5.Recommender Systems/ML0101EN-RecSys-Content-Based-movies-py-v1.ipynb
IBM-Data-Science/Python for Data Science and AI/2-1-Tuples.ipynb
IBM-Data-Science/Python for Data Science and AI/2-2-Lists.ipynb
IBM-Data-Science/Python for Data Science and AI/2-3-Dictionaries.ipynb
IBM-Data-Science/Python for Data Science and AI/2-4-Sets.ipynb
IBM-Data-Science/Python for Data Science and AI/3-1-Conditions.ipynb
IBM-Data-Science/Python for Data Science and AI/3-2-Loops.ipynb
IBM-Data-Science/Python for Data Science and AI/3-3-Functions.ipynb
IBM-Data-Science/Python for Data Science and AI/3-4-Classes.ipynb
IBM-Data-Science/Python for Data Science and AI/4-1-ReadFile.ipynb
IBM-Data-Science/Python for Data Science and AI/4-2-WriteFile.ipynb
IBM-Data-Science/Python for Data Science and AI/5-1-Numpy1D.ipynb
IBM-Data-Science/Python for Data Science and AI/5-2-Numpy2D.ipynb
IBM-Data-Science/Python for Data Science and AI/README.md
Machine Learning-Andrew Ng/Week1/Cost Function/Cost Function-Intuition I.JPG
Machine Learning-Andrew Ng/Week1/Cost Function/Cost Function-Intuition II.JPG
Machine Learning-Andrew Ng/Week1/Cost Function/Cost Function-Intuition II1.JPG
Machine Learning-Andrew Ng/Week1/Cost Function/Cost Function.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent 1.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent 2.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent for linear regression 2.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent for linear regression.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent Intuition 1.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent Intuition 2.JPG
Machine Learning-Andrew Ng/Week1/Gradient Descent/Gradient Descent Intuition 3.JPG
Machine Learning-Andrew Ng/Week1/Linear Algebra Review/Inverse.JPG
Machine Learning-Andrew Ng/Week1/Linear Algebra Review/Matrix Matrix Multiplication.JPG
Machine Learning-Andrew Ng/Week1/Linear Algebra Review/Matrix Multiplication Properties.JPG
Machine Learning-Andrew Ng/Week1/Linear Algebra Review/Matrix Vector Multiplication.JPG
Machine Learning-Andrew Ng/Week1/Linear Algebra Review/Transpose.JPG
Machine Learning-Andrew Ng/Week1/ML_Week1_Lecture2.pdf
Machine Learning-Andrew Ng/Week1/ML_Week_Lecture1.pdf
Machine Learning-Andrew Ng/Week1/Model Representation.JPG
Machine Learning-Andrew Ng/Week1/Supervised ML_Classification vs Regression.docx
Machine Learning-Andrew Ng/Week2/Multivariate Linear Regression/Features and ploynomial Regression.JPG
Machine Learning-Andrew Ng/Week2/Multivariate Linear Regression/Gradient Descent for Multiple Variables.JPG
Machine Learning-Andrew Ng/Week2/Multivariate Linear Regression/Gradient Descent in Practice II(1).JPG
Machine Learning-Andrew Ng/Week2/Multivariate Linear Regression/Gradient Descent in Practice II.JPG
Machine Learning-Andrew Ng/Week2/Multivariate Linear Regression/Gradient Descent in Practice.JPG
Rice University-Python Data Analysis/README.md
Rice University-Python Data Analysis/Week1/examples3_dict_errors.py
Rice University-Python Data Analysis/Week1/examples3_dictdef.py
Rice University-Python Data Analysis/Week1/examples3_dictkey.py
Rice University-Python Data Analysis/Week2/examples3_dictiter.py
Rice University-Python Data Analysis/Week2/examples3_nestdict.py
Rice University-Python Data Analysis/Week2/examples3_nestlist.py
Rice University_Python Data Analysis/README.md
Rice University_Python Data Analysis/Week1/examples3_dict_errors.py
Rice University_Python Data Analysis/Week1/examples3_dictdef.py
Rice University_Python Data Analysis/Week1/examples3_dictkey.py
Rice University_Python Data Analysis/Week2/examples3_dictiter.py
Rice University_Python Data Analysis/Week2/examples3_nestdict.py
Rice University_Python Data Analysis/Week2/examples3_nestlist.py
